/* banner image attributes */
.BannerImage {
  background-image: url("images/RuralHouse.jpg");
  background-color: white;
  background-repeat: no-repeat;
  height: 60vh;
  background-size: cover;
  background-position: center;
  opacity: 0.75;
}

/* position the resume button in upper right of banner image */
.BannerButton {
  position: absolute;
  top: 20px;
  right: 16px;
  color: black;
  font-weight: bolder;
}

/* Responsive banner for Tagline & footer */
.RBanner {
  width: 100%;
  height: auto;
  background-color: #264d00;
  color: goldenrod;
  padding: 10px;
}

/* Used to put tagline banner just under the jumbotron image */
.BannerPlace {
  position: relative;
  top: -40px;
  text-align: center;
}

/* for positioning the navigation buttons vertically within the jumbotron image */
.NavPosition {
  position: relative;
  top: -20px;
  left: -50px;
  font-size: x-large;
  color: black;
}

.NavStyle {
  font-weight: bolder;
}

.PageCenter {
  text-align: center;
}

.ParaLarge {
  font-size: x-large;
}

.PadContainer {
  padding: 10px;
}

.RightFoot {
  float: right;
  font-size: 75%;
  color: goldenrod;
}
